h1 {
    color: purple;
    text-decoration: underline;
    font-weight: bold;
}

.box {
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    float: left;
    /*box-sizing: border-box;*/
    padding: 10px;
    margin: 25px 50px 25px 0;
    position: relative;
    text-shadow: 2px 2px #000;


}
    .box:nth-child(5) {
        clear: both;
    }

#box1 {
    background: red;
}

#box2 {
    background: orange;
}

#box3 {
    background: yellow;
}

#box4 {
    background: green;
    /*clear: both;*/

}

#box5 {
    background: blue;
}

#box6 {
    background: magenta;
}

.box img {
    left: 50px;
    bottom: 55px;
    position: absolute;
}

#ribbon {
    top: 0;
    right: 0;
    left: inherit;
    bottom: inherit;
    position: fixed;
}

body {
    position: relative;
}